
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="index-banner">
    <div class="wmuSlider example1" style="height: 560px;">
        @Html.Action("GiayMoi", "Home")
        <a class="wmuSliderPrev">Previous</a><a class="wmuSliderNext">Next</a>
        <ul class="wmuSliderPagination">
            <li><a href="#" class="">0</a></li>
            <li><a href="#" class="">1</a></li>
            <li><a href="#" class="wmuActive">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
        </ul>
        <a class="wmuSliderPrev">Previous</a><a class="wmuSliderNext">Next</a><ul class="wmuSliderPagination"><li><a href="#" class="wmuActive">0</a></li><li><a href="#" class="">1</a></li><li><a href="#" class="">2</a></li><li><a href="#" class="">3</a></li><li><a href="#" class="">4</a></li></ul>
    </div>
    <script src="~/Scripts/jquery.wmuSlider.js"></script>
    <script type="text/javascript" src="~/Scripts/modernizr.custom.min.js"></script>
    <script>
        $('.example1').wmuSlider();
    </script>
</div>
<div class="main">
    <div class="wrap">
        <div class="content-bottom">
            @Html.Action("GiayTon", "Home")
            <div class="clear"></div>
        </div>
    </div>
</div>