@model WebBanGiayDep.Models.KHACHHANG

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    var item = Model;
}


    @using (Html.BeginForm(new { strURL = Request.Url.ToString() }))
    {
        Html.AntiForgeryToken();
        <form>
            <h2>Thay đổi mật khẩu</h2>
            <div class="profile" style="margin-left: 40%; margin-bottom:10%; margin-top:2%">
                <div class="form-group">
                    <label for="oldPassword" style="font-weight:bold">Mật khẩu cũ: </label>
                    <input type="password" class="form-control" id="oldPassword" name="oldPassword" placeholder="Mật khẩu cũ" />
                </div>
                <div class="form-group">
                    <label for="newPassword" style="font-weight:bold">Mật khẩu mới: </label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Mật khẩu mới">
                </div>
                <div class="form-group">
                    <label for="confirmNewPassword" style="font-weight:bold">Nhập lại mật khẩu mới: </label>
                    <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword" placeholder="Nhập lại mật khẩu mới">
                </div>
                <br />
                <div>
                    <button type="submit" id="save-btn" class="button">
                        <i style="font-size:20px">
                        </i>Lưu
                    </button>
                </div>
                <h3 id="Error">@ViewData["Error"]</h3>
                <h3 id="Success">@ViewData["Success"]</h3>
                <div style="margin-left:100px">
                    @Html.ActionLink("Trở về trang chủ", "Index", "Home")
                </div>
            </div>
           
        </form>
    }
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);
        function hideURLbar() {
            window.scrollTo({ top: 290, behavior: 'smooth' });
        }
    </script>

<style>
    .form-group {
        padding: 5px;
        font-size: 20px;
    }

    input {
        height: 10%
    }
    h2 {
        font-weight: bold;
        font-size: 30px;
        margin: 20px 0 20px 0;
        text-align:center
    }
    .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 7px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>
